<ion-header >
	<ion-toolbar>
		<ion-title>Sign in <span class="ion-float-end" (click)="choose_languages()">Skip</span></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_img" >
	<div class="banner ion-text-center">
		<img src="assets/images/logo.png">
	</div>

	<div class="form">
		<ion-list lines="none">
			<ion-item lines="none" class="ion-no-padding">
				<ion-icon class="zmdi zmdi-email ion-text-start" slot="start"></ion-icon>
				<ion-input type="email" value="" placeholder="Email Address"></ion-input>
			</ion-item>

			<ion-item lines="none">
				<ion-icon class="zmdi zmdi-lock ion-text-start" slot="start"></ion-icon>
				<ion-input type="email" value="" placeholder="Password"></ion-input>
				<h3 slot="end" (click)="forgot_password()">Forgot?</h3>
			</ion-item>

			<ion-button size="large" class="btn" (click)="choose_languages()">Sign in</ion-button>
		</ion-list>


		<div class="social_login">
			<h2>Or Continue with</h2>
			<ion-row>
				<ion-col size="6">
					<ion-button class="btn fb" (click)="choose_languages()">
						<img slot="start" src="assets/images/fb.png">
						Facebook
					</ion-button>
				</ion-col>

				<ion-col size="6">

					<ion-button class="btn google" (click)="choose_languages()">
						<img slot="start" src="assets/images/google.png">
						Google
					</ion-button>
				</ion-col>
			</ion-row>
		</div>


		<div class="registered">
			<h2>Not Registered yet?</h2>
			<ion-button size="large" fill="outline" class="btn" (click)="goTosignup()">Sign up</ion-button>
		</div>
	</div>

</ion-content>