<!--
<ion-header>
  <ion-toolbar>
    <ion-title>Createplaylist</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content (click)="dismiss()">
	<!--	<h2 (click)="dismiss()">sumit</h2>-->
</ion-content>
<ion-footer no-border class="bg_color">
	<div class="form">
		<h2>Give a name to <br>your playlist</h2>
		<ion-list lines="none">
			<ion-item lines="none" class="ion-no-padding">
				<ion-input type="email" value="" placeholder="Enter playlist name"></ion-input>
			</ion-item>
			<ion-row>
				<ion-col size="4">
					<h3 class="ion-text-end">Public</h3>
				</ion-col>
				<ion-col size="4">
					<ion-toggle></ion-toggle>
				</ion-col>
				<ion-col size="4">
					<h3 class="ion-text-start">Private</h3>
				</ion-col>
			</ion-row>
		</ion-list>
		<ion-button size="large" class="btn" (click)="play_list_song()">Create Plalist</ion-button>
	</div>
</ion-footer>