<ion-header>
	<ion-toolbar>
		<!--
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
-->
		<ion-title>Choose Language</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<ion-list lines="none">
		<ion-row>
			<ion-col size="6">
				<ion-item>
					<ion-label>English</ion-label>
					<ion-checkbox slot="end" checked="true"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Spanish</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Chinese</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>French</ion-label>
					<ion-checkbox slot="end" checked="true"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Tagalog</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Vietnamese </ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Korean</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>German</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Arabic</ion-label>
					<ion-checkbox slot="end" checked="true"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Hindi</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
					<ion-col size="6">
				<ion-item>
					<ion-label>Russian</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Italian</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			
			
				<ion-col size="6">
				<ion-item>
					<ion-label>English</ion-label>
					<ion-checkbox slot="end" checked="true"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Spanish</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Chinese</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>French</ion-label>
					<ion-checkbox slot="end" checked="true"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Tagalog</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Vietnamese </ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Korean</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>German</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Arabic</ion-label>
					<ion-checkbox slot="end" checked="true"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Hindi</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
					<ion-col size="6">
				<ion-item>
					<ion-label>Russian</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item>
					<ion-label>Italian</ion-label>
					<ion-checkbox slot="end"></ion-checkbox>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-list>
</ion-content>

<ion-footer no-border>
		<ion-button size="large" class="btn" (click)="choose_artist()">Next</ion-button>
</ion-footer>