<!--
<ion-header>
  <ion-toolbar>
    <ion-title>option</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content (click)="dismiss()">
</ion-content>
<ion-footer no-border>
	<div class="header" (click)="dismiss()"></div>
	<div class="song_detail d-flex">
		<div class="img_box center_img">
			<img src="assets/images/song_img2.png">
		</div>
		<div class="text_box">
			<h2>Love me like you do</h2>
			<h5>Last Love | Adverd Johny</h5>
		</div>
	</div>
	<div class="option_container">
		<div class="song_option d-flex">
			<ion-icon class="zmdi zmdi-favorite-outline ion-text-center"></ion-icon>
			<h2>Like this Song</h2>
		</div>
		<div class="song_option d-flex">
			<ion-icon class="zmdi zmdi-playlist-audio ion-text-center"></ion-icon>
			<h2>Remove from this playlist</h2>
		</div>
		<div class="song_option d-flex">
			<ion-icon class="zmdi zmdi-minus-circle-outline ion-text-center"></ion-icon>
			<h2>Add to Playlist</h2>
		</div>
		<div class="song_option d-flex">
			<ion-icon class="zmdi zmdi-skip-next ion-text-center"></ion-icon>
			<h2>Play Next</h2>
		</div>
		<div class="song_option d-flex">
			<ion-icon class="zmdi  zmdi-surround-sound ion-text-center"></ion-icon>
			<h2>Go to album</h2>
		</div>
		<div class="song_option d-flex">
			<ion-icon class="zmdi  zmdi-account-circle ion-text-center"></ion-icon>
			<h2>View artist</h2>
		</div>	
		
		<div class="song_option d-flex">
			<ion-icon class="zmdi zmdi-share ion-text-center"></ion-icon>
			<h2>Share</h2>
		</div>
	</div>
</ion-footer>