<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
		<ion-back-button></ion-back-button>
	</ion-buttons>
		<ion-title>Forgot Password</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_img">
	<div class="message">
		<h2>Sit Back & Relax !</h2>
		<p>It will take less than a minute to <br> reset a password</p>
	</div>
	<div class="form">
		<ion-list lines="none">
			<ion-item lines="none" class="ion-no-padding">
				<ion-icon class="zmdi zmdi-email ion-text-start" slot="start"></ion-icon>
				<ion-input type="email" value="" placeholder="Enter Registered Email address"></ion-input>
			</ion-item>
			<ion-button size="large" class="btn" (click)="choose_languages()">Submit</ion-button>
		</ion-list>
	</div>
</ion-content>