 ion-header {
 	background: var(--bg-color);

 	ion-toolbar ion-title {
 		span {
 			&.ion-float-end {
 				background: var(--primary);
 				border-radius: 50px;
 				font-size: 1.1rem;
 				font-weight: 500;
 				min-width: 101px;
 				text-align: center;
 				height: 35px;
 				line-height: 35px;
 				margin-top: 13px;
 			}
 		}
 	}

 	ion-segment {
 		border: none !important;
 		position: relative;
 		min-height: 56px;

 		ion-segment-button {
 			background: none !important;
 			position: relative;
 			font-size: 1.1rem;
 			font-weight: 500;
 			color: var(--text-light) !important;
 			text-transform: unset !important;
 			letter-spacing: 0;
 			--color-checked: var(--transparent) !important;
 			text-align: justify !important;

 			ion-label {
 				position: relative;
 				margin-bottom: 0;

 			}

 			// 			&::before {
 			// 				content: '';
 			// 				position: absolute;
 			// 				bottom: 0px;
 			// 				right: 0;
 			// 				left: 0;
 			// 				margin: 0 auto;
 			// 				height: 4px;
 			// 				transition: all .3s;
 			// 				width: 0;
 			// 				background: var(--primary);
 			// 				border-radius: 50px;
 			// 			}

 			&.segment-button-checked {
 				color: var(--white) !important;

 				ion-label {
 					&.active {
 						&::before {
 							opacity: 1;
 						}
 					}
 				}

 				&::before {
 					width: 75px;
 					transition: all .3s;
 				}
 			}

 		}

 	}
 }

 .tab_container {
 	padding-top: 15px;

 	.search_box {
 		display: flex;
 		align-items: center;
 		border-bottom: 1px solid var(--dark);
 		width: calc(100% - 40px);
 		margin: 0 auto;
 		padding-bottom: 5px; 
		margin-bottom: 22px;

 		ion-icon {
 			color: var(--white);
 			font-size: 1.5rem;
 			min-width: 30px;
 		}

 		ion-searchbar {
 			padding: 0 0px 0 0px !important;
 			--background: var(--transparent) !important;
 			font-weight: 500;
 			--font-size: 4rem !important;
 			--font-weight: 500 !important;
 			--color: var(--white);
 			--placeholder-opacity: .6;
 			--placeholder-color: var(--text-light);
 			--placeholder-font-weight: 400 !important;
 			--box-shadow: none !important;

 			.searchbar-input-container {
 				input {
 					--box-shadow: none !important;
 					padding: 0 !important;
 				}
 			}

 		}
 	}

 	ion-list {
 		background: var(--transparent) !important;
 		padding-top: 19px;

 		ion-item {
 			margin-bottom: 18px;
 			--background: var(--transparent) !important;
 			--padding-start: 0;
 			--inner-padding-end: 0px;
 			--inner-min-height: unset !important;
 			position: relative;
 			overflow: hidden;
 			width: 100%;
 			border-radius: 7px;

 			.item_container {
 				padding: 0 20px;

 				.img_container {
 					width: 43px;
 					min-width: 43px;
 					height: 43px;
 					border-radius: 7px;
 					margin-right: 20px; 
 					position: relative;
 					background: var(--dark);
 					overflow: hidden;

 					ion-icon {
 						position: absolute;
 						left: 0;
 						right: 0;
 						width: 100%;
 						height: 100%;
 						text-align: center;
 						line-height: 40px;
 						color: var(--white);
 						font-size: 1.5rem;
 					}

 					.img_box {
 						width: 100%;
 						height: 100%;
 					}
 				}

 				.item_detail {
 					width: 100%;
 					//	padding-top: 5px;

 					h2 {
 						margin: 0;
 						color: var(--white);
 						font-weight: 500;
 						font-size: 1.1rem;
 						margin-bottom: 0px;
 					}

 					h5 {
 						color: var(--text-light);
 						margin: 0;
 						font-size: .84rem;
 						font-weight: 400;

 						ion-icon {
 							color: var(--white);
 						font-size: 1.3rem;
// 							height: 17px;
// 							line-height: 17px;

 						}
 					}
 				}
 			}
 		}
 	}
 }