<ion-header>
	<ion-toolbar>
		<ion-title>

			<h2>What'd you like <br>to listen today? </h2>
		</ion-title>
	</ion-toolbar>
	<div class="search_box d-flex">
		<ion-icon class="zmdi zmdi-search"></ion-icon>
		<ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="Search song, album, playlist, etc."></ion-searchbar>
	</div>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<div class="container newly_launched">
		<h2>Newly Launched</h2>
		<div class="scroll_container ">
			<div class="item_srcoll" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al4.png" class="crop_img">
				</div>
				<h5>Last breath</h5>
			</div>
			<div class="item_srcoll" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al5.png" class="crop_img">
				</div>
				<h5>Like we used </h5>
			</div>
			<div class="item_srcoll" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al6.png" class="crop_img">
				</div>
				<h5>Mine Forever</h5>
			</div>
			<div class="item_srcoll" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al1.png" class="crop_img">
				</div>
				<h5>Last breath</h5>
			</div>
			<div class="item_srcoll" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al2.png" class="crop_img">
				</div>
				<h5>Like we used </h5>
			</div>
			<div class="item_srcoll" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al3.png" class="crop_img">
				</div>
				<h5>Mine Forever</h5>
			</div>
			<div class="item_srcoll" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al4.png" class="crop_img">
				</div>
				<h5>Last breath</h5>
			</div>
			<div class="item_srcoll" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al5.png" class="crop_img">
				</div>
				<h5>Like we used </h5>
			</div>
			<div class="item_srcoll" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al6.png" class="crop_img">
				</div>
				<h5>Mine Forever</h5>
			</div>
			<div class="item_srcoll" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al1.png" class="crop_img">
				</div>
				<h5>Last breath</h5>
			</div>
			<div class="item_srcoll" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al2.png" class="crop_img">
				</div>
				<h5>Like we used </h5>
			</div>
			<div class="item_srcoll" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al3.png" class="crop_img">
				</div>
				<h5>Mine Forever</h5>
			</div>
		</div>
	</div>

	<div class="container how_is_your_mood">
		<h2>Which Genre you like to listen?</h2>
		<div class="scroll_container">
			<div class="item_srcoll Party">
				<div class="img_box center_img">
					<img src="assets/images/m1.png" class="crop_img">
					<h5>Party</h5>
				</div>
			</div>
			<div class="item_srcoll Romance">
				<div class="img_box center_img">
					<img src="assets/images/m2.png" class="crop_img">
					<h5>Romance</h5>
				</div>
			</div>
			<div class="item_srcoll Retro">
				<div class="img_box center_img">
					<img src="assets/images/m3.png" class="crop_img">
					<h5>Retro</h5>
				</div>
			</div>
			<div class="item_srcoll Rock">
				<div class="img_box center_img">
					<img src="assets/images/m4.png" class="crop_img">
					<h5>Rock</h5>
				</div>
			</div>
			<div class="item_srcoll Party">
				<div class="img_box center_img">
					<img src="assets/images/m1.png" class="crop_img">
					<h5>Party</h5>
				</div>
			</div>
			<div class="item_srcoll Romance">
				<div class="img_box center_img">
					<img src="assets/images/m2.png" class="crop_img">
					<h5>Romance</h5>
				</div>
			</div>
			<div class="item_srcoll Retro">
				<div class="img_box center_img">
					<img src="assets/images/m3.png" class="crop_img">
					<h5>Retro</h5>
				</div>
			</div>
			<div class="item_srcoll Rock">
				<div class="img_box center_img">
					<img src="assets/images/m4.png" class="crop_img">
					<h5>Rock</h5>
				</div>
			</div>
			<div class="item_srcoll Party">
				<div class="img_box center_img">
					<img src="assets/images/m1.png" class="crop_img">
					<h5>Party</h5>
				</div>
			</div>
			<div class="item_srcoll Romance">
				<div class="img_box center_img">
					<img src="assets/images/m2.png" class="crop_img">
					<h5>Romance</h5>
				</div>
			</div>
			<div class="item_srcoll Retro">
				<div class="img_box center_img">
					<img src="assets/images/m3.png" class="crop_img">
					<h5>Retro</h5>
				</div>
			</div>
			<div class="item_srcoll Rock">
				<div class="img_box center_img">
					<img src="assets/images/m4.png" class="crop_img">
					<h5>Rock</h5>
				</div>
			</div>
		</div>
	</div>

	<div class="container recommended">
		<h2>Recommended for you</h2>
		<div class="item_container">
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al1.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al2.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al3.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al4.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al5.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al6.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al1.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al2.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al3.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al4.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al5.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al6.png" class="crop_img">
				</div>
			</div>
		</div>
	</div>
</ion-content>